# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Next.js Build Output
.next/
out/
build/

# Local Environment
.env
.env.*.local
.env.local

# Python Environments
__pycache__/
*.pyc
venv/
env/

# Data and Assets (Mounted as volumes)
**/videos/
**/assets/
**/promo_stems/

# System / OS
.DS_Store
Thumbs.db
.git/
